*.o
autom4te.cache
Makefile
Makefile.in
config.*
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/stamp-h

src/wmccc
src/wmcoincoin
platypus/wmcoincoin_player
.deps
po/Makevars.template
po/POTFILES

*.swp

